.line_chart {
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    .recharts-xAxis {
        .recharts-cartesian-axis-ticks {
            .recharts-cartesian-axis-tick {
                .recharts-cartesian-axis-tick-value {
                    transform: translate(0, 0) rotate(-45deg, 460.199deg, 404deg);
                }
            }
        }
    }
}
