.login_page {
    display: flex;
    justify-content: center;
    padding: 16px;
    height: 100vh;
    .login_container {
        display: block;
        width: 100%;
        .login_form {
            border: 1px solid #ccc;
            padding: 16px;
            width: 30%;
            margin: 0 auto;
            background-color: #2b2111;
            h2 {
                color: #fff;
            }
            .ant-row {
                margin-bottom: 12px;
                .ant-form-item-label {
                    text-align: left;
                   & > label {
                        color: #fff;
                    }
                }
            }
            .login_actions {
                display: flex;
                justify-content: space-between;
                flex: 1;
                * {
                    color: #fff;
                }
                .login_registerlink {
                    font-size: 12px;
                    a {
                        color: #d89614;
                    }
                }
                button.ant-btn.ant-btn-primary {
                    background-color: #d89614;
                    border: none;
                    span {
                        background-color: transparent;
                    }
                    &:hover {
                        opacity: .8;
                    }
                }
            }   
        }
        @include tablet {
            .login_form {
                width: 50%;
            }
        }
        @include smallTablet {
            .login_form {
                width: 50%;
            }
        }
        @include mobile {
            .login_form {
                width: 100%;
            }
        }
    }

}