.login_page {
    display: flex;
    justify-content: center;
    padding: 16px;
    .login_form {
        border: 1px solid #ccc;
        padding: 16px;
        width: 25%;
        h2 {
            margin: 0;
        }
        .ant-row {
            margin-bottom: 12px;
        }
        .login_actions {
            display: flex;
            justify-content: space-between;
            .login_registerlink {
                font-size: 12px;
            }
        }
       
    }
}