.search_country {
    box-shadow: 0px 0px 5px #ccc;
    padding: 8px;
    &_options {
        a {
            display: flex;
            align-items: center;
        }
        .country_flag {
            width: 50px;
            max-width: 50px;
            height: auto;
            margin-right: 8px;
        }
    }
}