.register_page {
    display: flex;
    justify-content: center;
    padding: 16px;
    height: 100vh;
    .register_container {
        display: block;
        width: 100%;
        .form_register {
            border: 1px solid #ccc;
            padding: 16px;
            width: 40%;
            margin: 0 auto;
            background-color: #2b2111;
            h2 {
                color: #fff;
            }
            form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 15px;
                .form_group {
                    width: 100%;
                    margin-bottom: 12px;
                    input {
                        width: 80%;
                        padding: 8px;
                        background-color: #fff;
                        color: #2b2111;
                    }
                    .form_msg {
                        color: red;
                    }
                }
                .btn {
                    padding: 6px 12px;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #fff;
                    background-color: #d89614;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
        @include tablet {
            .form_register {
                width: 50%;
            }
        }
        @include smallTablet {
            .form_register {
                width: 60%;
            }
        }
        @include mobile {
            .form_register {
                width: 100%;
            }
        }
    }
}