.country_list {
    box-shadow: 0px 0px 5px #ccc;
    padding: 8px;
    h2 {
        
    }
    .ant-table-wrapper {
        @include mobile {
            * {
                font-size: 10px;
            }
        }
        .country_flag {
            width: 50px;
            height: 30px;
            margin-right: 8px;
        }
        .country_name {
            
        }
    }
}