.home_page {
    .home_container {
        padding: 15px;
    }
    .home_container-dark {
        @extend .home_container;
        * {
            background-color: #2b2111;
            color: #fff;
        }
    }
}