.header {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    .header_container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        a {
            text-decoration: none;
        }
        .header_logo {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .header_logo_name {
                text-transform: uppercase;
                font-weight: bold;
                padding: 0 15px;
            }
        }
        .header_nav {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            .header_nav_item {
                text-transform: uppercase;
                font-weight: bold;
                padding: 0 15px;
            }
        }
    }
}