.overview {
    box-shadow: 0px 0px 3px;
    margin: 15px 0;
    @include mobile {
        .ant-row {
            flex-direction: column;
        }
    }
    h2 {
        font-size: 36px;
        border-bottom: 1px solid #ccc;
    }
    .red {
        color: #e53e33;
        .overview_title {
            color: #e53e33;
        }
    }
    .green {
        color: #38a16e;
        .overview_title {
            color: #38a16e;
        }
    }
    .gray {
        color: #71809b;
        .overview_title {
            color: #71809b;
        }
    }
    .overview_item {
        padding: 30px;
        .overview_title {
            text-transform: uppercase;
            font-size: 24px;
        }
        .overview_data {
            font-size: 32px;
            font-weight: bold;
        }
        
    }
}