.news_section {
    padding: 15px;
    .news_list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        min-height: 100vh;
        .news_item {
            max-height: 500px;
            .ant-card {
                max-height: 300px;
                overflow: hidden;
                margin-bottom: 16px;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                .ant-card-meta-description {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    .loadmore_btn {
        .ant-btn:hover {
            border-color: #d89614;
            background-color: #2b2111;
            span {
                color: #d89614;
            }
        } 
    }
}