.news_section {
    padding: 15px;
    .news_list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .news_item {
    
        }
    }
}