.App {
  position: relative;
  text-align: center;
}
.App_theme-dark {
  @extend .App;
  *{
    background-color: #2b2111;
    color: #fff;
    a {
      color: #fff;
    }
  }
  .country_list {
    .ant-table-thead > tr > th {
      background-color: transparent;
      color: unset;
    }
    td.ant-table-column-sort {
      background-color: #d89614;
    }
    .ant-table-tbody > tr > td {
      transition: unset;
    }
    .ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background-color: #d89614;
      a {
        background-color: #d89614;
        span {
          background-color: #d89614
        }
      }
    }
    .ant-pagination-item-active, .ant-pagination-item:hover {
      border-color: #d89614;
      a {
        color: #d89614
      }
    }
    .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
      background-color: unset 
    }
    .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
      border-color: #d89614;
      * {
        color: #d89614;
      }
    }
    .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
      color: unset
    }
    .ant-pagination-jump-prev:hover, .ant-pagination-jump-next:hover {
      * {
        color: #d89614
      }
    }
  }
}
.ant-spin-spinning {
  .ant-spin-dot.ant-spin-dot-spin {
    .ant-spin-dot-item {
      background-color: #d89614;
    }
  }
  .ant-spin-text {
    color: #d89614; 
  }
}
.loading_global {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(216, 150, 20, .3);
  * {
    background-color: transparent;
    font-size: 24px;
  }
  .ant-spin-spinning {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}

// Break-points
@import './Responsive';

// Pages
@import './pages/home/home';
@import './pages/login/login';
@import './pages/news/components/newslist/newslist';
@import './pages/detailcountry/detailcountry';
@import './pages/register/register';

// Components
@import './components/header/header';
@import './components/countrylist/countrylist';
@import './components/countrysearch/countrysearch';
@import './components/overview/overview';
@import './components/linechart/linechart';
@import './components/worldmap/worldmap';